<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/profil.png" style="width:60px ;height:60px">
   </div>
   <h2 class="title">Inscription</h2>
   <!-- <div class="cardinfo">
      <ion-icon name="information-circle-outline"></ion-icon>
   </div> -->
  </ion-card>
  <!-- <hr class="zig-zag-line"> -->
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-item style="background-color:lightgray; border-radius:15px ">
    <ion-input placeholder="Nom"  [(ngModel)]="data.buyerInfos.nom">Nom</ion-input>
  </ion-item>

  <ion-item style="background-color:lightgray; border-radius:15px; margin-top:10px">
      <ion-input placeholder="Prenom(s)" [(ngModel)]="data.buyerInfos.prenoms">Prenom(s)</ion-input>
    </ion-item>

    <ion-item style="background-color:lightgray; border-radius:15px ;margin-top:10px">
        <ion-input placeholder="Pseudo" [(ngModel)]="data.buyerInfos.login">Pseudo</ion-input>
      </ion-item>

      <ion-item style="background-color:lightgray; border-radius:15px ; margin-top:10px">
          <ion-label>225</ion-label>
          <ion-input placeholder="Téléphone" [(ngModel)]="data.buyerInfos.telephone"></ion-input>
        </ion-item>

        <ion-item style="background-color:lightgray; border-radius:15px ; margin-top:10px">
            <ion-label>225</ion-label>
            <ion-input placeholder="Téléphone" [(ngModel)]="data.buyerInfos.telephone2"></ion-input>
          </ion-item>

          <ion-item style="background-color:lightgray; border-radius:15px; margin-top:10px">
              <ion-input placeholder="E-mail" [(ngModel)]="data.buyerInfos.email"></ion-input>
            </ion-item>

            <ion-item style="background-color:lightgray; border-radius:15px; margin-top:10px">
                <ion-input placeholder="Mot de passe" [(ngModel)]="data.buyerInfos.password"></ion-input>
              </ion-item>
              
</ion-grid>

<ion-item no-lines>
    <ion-checkbox item-start color="myorange" checked="false" [(ngModel)]="isAccepted"></ion-checkbox>
  <ion-label style="font-size:13px; color: gray">J'accepte la <a style="text-decoration: underline; color: gray">Politique de confidentialité</a>  <br>et les <a style="text-decoration: underline; color: gray">Conditions d'utilisation</a> </ion-label>
</ion-item> 

<div style="margin-top:20px">
  <button  ion-button type="submit" style="float: left  ;width: 140px ;border-radius:7px; background-color:rgb(182, 24, 24) ; color: white" medium (click)="back()">Annuler</button>
  <button  ion-button type="submit" style="float: right ; width: 140px; border-radius:1px; color:white" [color]="isAccepted ? 'myorange' : 'gray'" medium (click)="register()">Enregistrer</button>
</div>
</ion-content>

<ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>