<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/porte2.png" style="width:85px ;height:85px">
   </div>
   <h2 class="title">PORTEFEUILLE</h2>
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
    </div>
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content padding>
  <h6 text-center style="color:ORANGE; font-weight:bolder">DETAILS DE LA CARTE</h6>

  <!-- <img src="assets/imgs/barcodeLong.png" style="width:100% ;height:40px"> -->

  <div style="align-content: center; align-self: center; margin-left: 16%; margin-right: 17%; width: 100%" >
  <svg style="align-self: center;" #barcode id="barcode"></svg>
</div>
  <ion-card [ngClass]="forfait == 'Saphir' ? 'saphir' : 
  forfait == 'Diamant' ? 'diamant' : 
  forfait == 'Emeraude' ? 'emeraude' : 
  forfait == 'Rubis' ? 'rubis' : 'emeraude'">
    <p style="font-size:12px; padding: 5px">CARTE N° :  <a style="color:black; font-weight:bold; margin-left: 5px"> {{cardno}}</a></p>
      <p style="font-size:12px; padding: 5px">SOLDE: <a style="color:rgb(168, 0, 0); font-weight:bold; margin-left: 5px">{{solde}} FCFA</a> </p>
      <p style="font-size:12px; padding: 5px">FORFAIT <a style="color:black; font-weight:bold; margin-left: 5px"> {{forfait}}</a> </p>
      <p style="font-size:12px; padding: 5px">EXPIRE DANS: <a style="color:black; font-weight:bold; margin-left: 5px"> {{expiration}} jour(s)</a> </p>
  </ion-card>

  <ion-item *ngIf="!scan" no-lines style="margin-top: 20px">
    <h2 text-center style="color:ORANGE; font-weight:bolder; margin-top: 10px">ACTIVER LA SECURITE</h2>
    <ion-icon style="color:orange; font-size:30px" name="unlock" item-end></ion-icon>
  </ion-item>

  <ion-item *ngIf="scan" no-lines style="margin-top: 20px">
    <ion-label text-center style="color:ORANGE; font-weight:bolder; margin-top: 10px">ACTIVER LA SECURITE</ion-label>
    <ion-toggle color="orange" [(ngModel)]="data.carteKdolisIsSecure"></ion-toggle>
  </ion-item>

  <div *ngIf="!scan">
  <ion-row style="text-align: center; margin-top: 50px">
    <ion-col>
        <img src="assets/imgs/unlink2.png" style="display:inline-block ;width:45px ;height:45px" >
        <p style="color:rgb(168, 0, 0); font-size:12px">Retirer du portefeuille</p>
        <!-- <button ion-button  medium (click)="com()">1</button> -->
    </ion-col>
     <ion-col>
        <img src="assets/imgs/bin.png" style="display:inline-block ;width:45px ;height:45px">
        <p style="color:rgb(168, 0, 0); font-size:12px">Supprimer</p>
      </ion-col>
  </ion-row>
</div>
<div padding *ngIf="scan" style="margin-top: 50px; position: absolute; bottom: 5%; width: 90%">
  <button ion-button block color="orange" (click)="showConfirm()">AJOUTER AU PORTEFEUILLE</button>
</div>

</ion-content>
