<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback"  (click)="showConfirm()">
      <img class="back" style="height:55px; width:55px" src="assets/imgs/cadenat.png">
     </div>
     <div class="center">
        <img  center src="assets/imgs/logo.png" style="width:220px ;height:220px">
     </div>
     <div class="cardinfo">
          <img style="height:30px; width:30px" src="assets/imgs/info.png">
     </div>
    </ion-card>
    <hr class="zig-zag-line">
    <h2 class="title">BIENVENUE, {{nom}} {{prenoms}}</h2>
     <p class="title-date"> DERNIERE CONNEXION <br> {{date | date:'EEE , dd MMM yyyy, HH:mm:ss'}} </p>
  </ion-header>
  
  <ion-content >
      <ion-grid style="text-align: center; margin-top:10px">
          
        <ion-row>
            <ion-col>
                <img src="assets/imgs/Scanner.png" style="display:inline-block ;width:90px ;height:90px" (click)="scan()">
                <h5 style="color:orange; font-weight: bold; font-size: 15px">SCANNER</h5>
                <!-- <button ion-button  medium (click)="com()">1</button> -->
            </ion-col>
             <ion-col>
                <img src="assets/imgs/vendues.png" style="display:inline-block ;width:130px ;height:90px" (click)="vendues()">
                <h5 style="color:orangered; font-weight: bold; font-size: 15px">VENDUES</h5>
              </ion-col>
          </ion-row>
  
          <ion-row style="margin-top:20px">
          <ion-col>
              <img src="assets/imgs/STOCK.png" style="display:inline-block;width:90px; height:90px" (click)="stock()">
              <!-- <button ion-button  medium (click)="scan()">3</button> -->
              <h5 style="color:orange; font-weight: bold; font-size: 15px">STOCK</h5>
            </ion-col>
      
          <ion-col> 
              <img src="assets/imgs/profilpink.png" style="display:inline-block ;width:90px ;height:90px" (click)="info()">
              <!-- <button ion-button  medium (click)="connect()">4</button> -->
              <h5 style="color:green; font-weight: bold; font-size: 15px">INFOS</h5>
            </ion-col>
          </ion-row>
      
      </ion-grid>
  </ion-content>
  
  <ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>