<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/porte2.png" style="width:85px ;height:85px">
   </div>
   <h2 class="title">DETAILS DE LA CARTE</h2>
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
    </div>
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content padding>

  <!-- <img src="assets/imgs/barcodeLong.png" style="width:100% ;height:40px"> -->

  <div style="align-content: center; align-self: center; margin-left: 16%; margin-right: 17%; width: 100%" >
  <svg style="align-self: center;" #barcode id="barcode"></svg>
</div>
  <ion-card [ngClass]="forfait == 'Saphir' ? 'saphir' : 
  forfait == 'Diamant' ? 'diamant' : 
  forfait == 'Emeraude' ? 'emeraude' : 
  forfait == 'Rubis' ? 'rubis' : 'emeraude'">
    <p style="font-size:12px; padding: 5px">CARTE N° :  <a style="color:black; font-weight:bold; margin-left: 5px"> {{cardno}}</a></p>
      <p style="font-size:12px; padding: 5px">SOLDE: <a style="color:rgb(168, 0, 0); font-weight:bold; margin-left: 5px">{{solde}} FCFA</a> </p>
      <p style="font-size:12px; padding: 5px">FORFAIT <a style="color:black; font-weight:bold; margin-left: 5px"> {{forfait}}</a> </p>
      <p style="font-size:12px; padding: 5px">EXPIRE DANS: <a style="color:black; font-weight:bold; margin-left: 5px"> {{expiration}}</a> </p>
  </ion-card>
<div *ngIf="!home && duser">
  <div *ngIf="demande">
  <ion-grid  style="text-align: center; margin-top: 20px">
      <ion-item no-lines>
          <h2 text-center style="color:rgb(168, 0, 0); font-weight:bolder; margin-top: 10px">MONTANT A DEBITER</h2>
        </ion-item>

      <ion-item style="background-color:rgb(168, 0, 0); border-radius:5px; color: white; font-size: 15px"  no-lines>
      <ion-input type="number" placeholder="MONTANT A DEBITER" [(ngModel)]="data.montantDebit"></ion-input>
      </ion-item>
  </ion-grid>   
</div>
  <div style="margin-top: 50px">
      <button ion-button block color="orange" (click)="demandPay()">DEMANDE DE PAIEMENT</button>
    </div>
</div>

<div *ngIf="!home && cuser">
    <div *ngIf="activate">
    <ion-grid  style="text-align: center; margin-top: 20px">
        <ion-item no-lines>
            <h2 text-center style="color:rgb(168, 0, 0); font-weight:bolder; margin-top: 10px">MOT DE PASSE</h2>
          </ion-item>
  
        <ion-item style="background-color:lightgrey; border-radius:5px; color: white; font-size: 15px"  no-lines>
        <ion-input type="password" placeholder="" [(ngModel)]="dataDist.distributeurPass"></ion-input>
        </ion-item>
    </ion-grid>   
  </div>
    <div style="margin-top: 50px">
        <button ion-button block color="orange" (click)="demandActivation()">ACTIVER LA CARTE</button>
      </div>
  </div>
</ion-content>
