<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback">
      <img class="back" src="assets/imgs/precedent.png" (click)="back()">
     </div>
     <div class="center">
        <img  center src="assets/imgs/profil.png" style="width:140px ;height:140px">
     </div>
     <!-- <h2 class="title">CONNECTEZ-VOUS</h2> -->
     <!-- <div class="cardinfo">
        <ion-icon name="information-circle-outline"></ion-icon>
     </div> -->
    </ion-card>
    <!-- <hr class="zig-zag-line"> -->
  </ion-header>

<ion-content padding style="text-align: center" >
  <h3 text-center style="color:rgba(231, 0, 0, 0.897); font-weight:bolder">CONNECTEZ-VOUS</h3>

 <ion-grid  style="text-align: center; margin-top: 20px">

  <ion-item style="background-color:lightgray; border-radius:15px"  no-lines>
   <ion-input type="text" placeholder="Login" [(ngModel)]="data.login"></ion-input>
  </ion-item>

  <ion-item   style="background-color:lightgray ;margin-top:10px; border-radius:15px"  no-lines>
  <ion-input type="password" placeholder="Mot de passe" [(ngModel)]="data.password"></ion-input>
</ion-item>

 <ion-item  no-lines> 
 <!-- <ion-checkbox placeholder="se souvenir" style="color:black" item-right></ion-checkbox> -->
   <!-- <ion-checkbox placeholder="se souvenir" style="color:black" item-right></ion-checkbox> 
   -->
   <!-- <ion-checkbox col-1  item-right color="orange"></ion-checkbox> -->
   <ion-toggle color="orange"></ion-toggle>
              <ion-label style="color:black; font-size: 18px; margin-left: 35%" col-9 item-right>Mémoriser login</ion-label>
              
  
  </ion-item>

</ion-grid>

   <ion-grid style="text-align: center ; width:170px ;height:80px; margin-top:20px">
   <button ion-button type="submit" style="background-color:rgb(87, 44, 44);border-radius:8px ; color:white; padding: 20px; font-weight: bold"  (click)="login()" medium>CONNEXION</button>
  </ion-grid> 
     
  <a (click)="register()" style="color:black; margin-top: 20px">Crée un Compte ici !</a>
</ion-content>

<ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>