page-connect {
   
//    .back{
//        background-image: url(../../assets/imgs/connect.PNG) no-repeat center center fixed ;
//    }
   
   .backgound-image {
    background-image: url('../../assets/imgs/connect.png');
    width: 100%;
    height: 200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
    .checkbox{
     margin-top: 20px;
    }
    
    // ion-toolbar{
    //     background-image: url('../../assets/imgs/logo.png') no-repeat center center fixed ;
    
// }
    // .x-navbar {
    //     background-image: url('../../assets/imgs/logo.png');
    //     background-size: cover;
    // }
    // ion-content.background{
    //     --background: url(../../assets/imgs/logo.png) no-repeat 52% center/cover;
    // }
    
    ion-content {
        --background: url('../../assets/imgs/bnt2.PNG') no-repeat center center fixed cover;
        --background-size: cover;
      }
      

      .back-image{
        background-image: url('../../assets/imgs/footer.png');
        width:100%;
        height:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .backgound-image {
      background-image: url('../../assets/imgs/logo.png');
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      // opacity:0.1;
  }

  .ion-cardheader {
      position: relative;
      text-align: start;
      margin: 0px !important;
      min-width: 100%;
      height: 70%;
      box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
    }
  
    .imgCard {
      display: block;
      width: 100%;
      height: 100%;
  }
    .cardback {
      position: absolute;
      top: 25%;
      font-size: 2.0em;
      width: 100%;
      font-weight: normal;
      color: #fff;
      // padding-left: 10px;
      margin-left: 10px;
    }

    .cardinfo {
      position: absolute;
      top: 25%;
      right: 5%;
      font-size: 2.0em;
      font-weight: normal;
      color: rgb(167, 39, 39);
      // padding-left: 10px;
    }

    .back{
      display: inline-block;
      height: 60px;
      width: 60px;
      // font-weight: lighter;
      // color :rgba(241, 36, 104, 0.5);
    }

    .center{
      position: absolute;
      top: 20%;
      left: 33%;
      // font-size: 2.0em;
      // font-weight: normal;
      // color: rgb(167, 39, 39);
    }
    
    .title{
      position: absolute;
      bottom: 0%;
      left: 33%;
      color: orange;
      // font-size: 2.0em;
      font-weight: bold;
      // color: rgb(167, 39, 39);
    }

    .zig-zag-line {
      border: none;
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, rgb(241, 129, 24) 17%, transparent 10%) 0px 0,
      linear-gradient(90deg, rgb(86, 86, 233) 33%, transparent 10%) 0px 0,
      linear-gradient(90deg, rgb(221, 0, 0) 50%, transparent 10%) 0px 0,
      linear-gradient(90deg, rgb(1, 175, 1) 66%, transparent 20%) ,
      linear-gradient(90deg, brown 84%, transparent 20%),
      linear-gradient(90deg, rgb(255, 0, 200) 100%, transparent 20%);
      // background-size: 30px 30px;
      // background-color: #1A85FD;
  }
}
