<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback">
      <img class="back" src="assets/imgs/precedent.png" (click)="back()">
     </div>
     <div class="center">
        <img  center src="assets/imgs/logo.png" style="width:170px ;height:140px">
     </div>
     <!-- <h2 class="title">COMMERCANTS</h2> -->
     <div class="cardinfo">
        <img style="height:30px; width:30px" src="assets/imgs/info.png">
      </div>
    </ion-card>
    <!-- <hr class="zig-zag-line"> -->
  </ion-header>

<ion-content >

  <div style="width:100%; height: 40%; background-color: rgba(255, 251, 204, 0.849)">

  </div>

  <ion-card padding style="background-color: rgb(255, 244, 142);">
    <h2 text-center style="font-weight:bolder; font-size:20px">{{detail.nomBoutique}}</h2>
      <p text-center style="font-size:14px">{{detail.adresseBoutique}}</p>
      <p text-center style="font-size:14px">{{detail.emailBoutique}}</p>
      <p text-center style="font-size:14px">{{detail.telephoneBoutique}}</p>
      <h6 text-center  style="margin-top: 10px; font-weight:bold; font-size:16px">{{detail.secteurActivite.label}}</h6>
  </ion-card>

</ion-content>
