page-commercant-detail {
    .ion-cardheader {
        position: relative;
        text-align: start;
        margin: 0px !important;
        min-width: 100%;
        height: 70%;
        box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
      }
    
      .imgCard {
        display: block;
        width: 100%;
        height: 100%;
    }
      .cardback {
        position: absolute;
        top: 25%;
        font-size: 2.0em;
        font-weight: normal;
        color: #fff;
        // padding-left: 10px;
        margin-left: 10px;
      }

      .cardinfo {
        position: absolute;
        top: 25%;
        right: 5%;
        font-size: 2.0em;
        font-weight: normal;
        color: rgb(167, 39, 39);
        // padding-left: 10px;
      }

      .back{
        display: inline-block;
        height: 40px;
        width: 40px;
        // font-weight: lighter;
        // color :rgba(241, 36, 104, 0.5);
      }

      .center{
        position: absolute;
        top: 15%;
        left: 25%;
        // font-size: 2.0em;
        // font-weight: normal;
        // color: rgb(167, 39, 39);
      }
      
      .title{
        position: absolute;
        bottom: 0%;
        left: 33%;
        color: brown;
        // font-size: 2.0em;
        font-weight: bold;
        // color: rgb(167, 39, 39);
      }

      .zig-zag-line {
        border: none;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, rgb(241, 129, 24) 17%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(86, 86, 233) 33%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(221, 0, 0) 50%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(1, 175, 1) 66%, transparent 20%) ,
        linear-gradient(90deg, brown 84%, transparent 20%),
        linear-gradient(90deg, rgb(255, 0, 200) 100%, transparent 20%);
        // background-size: 30px 30px;
        // background-color: #1A85FD;
    }
}
