<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/profil.png" style="width:140px ;height:140px">
   </div>
   <!-- <h2 class="title">CONNECTEZ-VOUS</h2> -->
   <!-- <div class="cardinfo">
      <ion-icon name="information-circle-outline"></ion-icon>
   </div> -->
  </ion-card>
  <!-- <hr class="zig-zag-line"> -->
</ion-header>

<ion-content padding style="text-align: center" >
<h3 text-center style="color:rgb(0, 0, 0); font-weight:bolder">Modifier mot de passe</h3>

<ion-grid  style="text-align: center; margin-top: 20px">

<ion-item style="background-color:lightgray; border-radius:15px"  no-lines>
 <ion-input type="password" placeholder="nouveau mot de passe" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item   style="background-color:lightgray ;margin-top:10px; border-radius:15px"  no-lines>
<ion-input type="password" placeholder="Confirmer nouveau mot de passe" [(ngModel)]="confirmPassword"></ion-input>
</ion-item>

</ion-grid>

<ion-grid style="text-align: center ; width:170px ;height:80px; margin-top:20px">
<button ion-button type="submit" style="background-color:rgb(87, 44, 44);border-radius:8px ; color:white; padding: 20px; font-weight: bold"  (click)="updateClick()" medium>MODIFIER</button>
</ion-grid> 

</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>