<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/ACHATS.png" style="width:80px ;height:80px">
   </div>
   <h2 class="title">ACHATS</h2>
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
    </div>
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content >
  <h6 text-center style="color:brown; font-weight:bold">SELECTIONNER UNE CARTE</h6>

  <ion-card *ngFor="let r of reponseData; let i = index" (click)="push(i)">
    <ion-item style="background-color: lightblue">
        <img item-start class="img" src="assets/imgs/BarCode.png">
        <p class="sub">NUMERO : {{r.card.numCarte}}</p>
        <h6 class="name">SOLDE : {{round(r.card.solde)}} FCFA</h6>
        <ion-icon style="color:red" name="arrow-forward" item-end></ion-icon>
      </ion-item>
</ion-card>

<h6 *ngIf="!reponseData" style="color:orange; margin-top:35%; text-align:center;">AUCUNE CARTE</h6>
</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>