<ion-header>
  <ion-card class="ion-cardheader">
    <!-- <img class="imgCard" src="assets/imgs/fondHeader.png"/> -->
    <!-- <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div> -->
   <div class="center">
      <img  center src="assets/imgs/logo.png" style="width:200px ;height:200px">
   </div>
   <h1 class="title">Bienvenue sur</h1>
   <!-- <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
    </div> -->
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content padding>


  <ion-grid style="text-align: center; margin-top:25px">
    <ion-row>
      <ion-col>
          <img src="assets/imgs/COMMERCANT2.png" style="display:inline-block ;width:70px ;height:70px" (click)="com()">
          <h6 style="color:red; font-weight: bold">Commercants</h6>
          <!-- <button ion-button  medium (click)="com()">1</button> -->
      </ion-col>
       <ion-col>
          <img src="assets/imgs/point-de-vente.png" style="display:inline-block ;width:90px ;height:70px" (click)="vente()">
          <h6 style="color:orange; font-weight: bold">Points de vente</h6>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:30px">
    <ion-col>
        <img src="assets/imgs/Scanner.png" style="display:inline-block;width:70px; height:70px" (click)="scan()">
        <!-- <button ion-button  medium (click)="scan()">3</button> -->
        <h6 style="color:gray; font-weight: bold">Scanner</h6>
      </ion-col>

    <ion-col>
        <img src="assets/imgs/connexion.png" style="display:inline-block ;width:100px ;height:70px" (click)="connect()">
        <!-- <button ion-button  medium (click)="connect()">4</button> -->
        <h6 style="color:green; font-weight: bold">Connexion</h6>
      </ion-col>
    </ion-row>

</ion-grid>
</ion-content>
<ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>