page-home {
ion-navbar{
--background: url('assets/imgs/commercant.png');

}
    // ion-content {
    //     --background: none;
    //     background-image: url('/assets/imgs/commercant.png');
    //     background-position: center top;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }

//     ion-header{
//         // ion-navbar{
//         //     div.toolbar-background{
//         //          background-image: url('../../assets/imgs/logo.png');
//         //          background-repeat: no-repeat;
//         //          background-size:cover;
//         //          text-align: center;
//         //     }
//         // }
// }

.backgound-image {
    background-image: url('../../assets/imgs/acceuil.PNG');
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }


  .back-image{
    background-image: url('../../assets/imgs/foot1.PNG');
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ion-cardheader {
  position: relative;
  text-align: start;
  margin: 0px !important;
  min-width: 100%;
  height: 160px;
  background: #fff;
  box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
}

.imgCard {
  display: block;
  width: 100%;
  height: 100%;
}
.cardback {
  position: absolute;
  top: 25%;
  font-size: 2.0em;
  width: 100%;
  font-weight: normal;
  color: #fff;
  // padding-left: 10px;
  margin-left: 10px;
}

.cardinfo {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 2.0em;
  font-weight: normal;
  color: rgb(167, 39, 39);
  // padding-left: 10px;
}

.back{
  display: inline-block;
  height: 40px;
  width: 40px;
  // font-weight: lighter;
  // color :rgba(241, 36, 104, 0.5);
}

.center{
  position: absolute;
  top: 15%;
  left: 25%;
  // font-size: 2.0em;
  // font-weight: normal;
  // color: rgb(167, 39, 39);
}

.title{
  position: absolute;
  top: 20%;
  color: black;
  width: 100%;
  text-align: center;
  font-family: 'Greatvibes' !important;
  font-size: 40px;
  font-weight: bolder;
  // color: rgb(167, 39, 39);
}

.zig-zag-line {
  border: none;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgb(241, 129, 24) 17%, transparent 10%) 0px 0,
  linear-gradient(90deg, rgb(86, 86, 233) 33%, transparent 10%) 0px 0,
  linear-gradient(90deg, rgb(221, 0, 0) 50%, transparent 10%) 0px 0,
  linear-gradient(90deg, rgb(1, 175, 1) 66%, transparent 20%) ,
  linear-gradient(90deg, brown 84%, transparent 20%),
  linear-gradient(90deg, rgb(255, 0, 200) 100%, transparent 20%);
  // background-size: 30px 30px;
  // background-color: #1A85FD;
}

.back-image{
  background-image: url('../../assets/imgs/footer.png');
  width:100%;
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img{
height: 40px;
width: 40px;
// border-radius: 50px;
// border: 2px solid rgb(140, 157, 250);
}
.name{
font-weight: bolder;
// margin-left: 30px;
font-size: 15px;
}

.sub{
font-weight: normal;
color: black;
font-size: 12px;
// margin-left: 30px;
}

}