<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/profilbrown.png" style="width:80px ;height:80px">
   </div>
   <h6 class="title">INFORMATIONS PERSONNELLES</h6>
   <!-- <div class="cardinfo">
      <ion-icon name="information-circle-outline"></ion-icon>
   </div> -->
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content>

  <ion-card padding style="background-color: rgb(255, 235, 193)">
    <p style="font-size:14px; color:black; font-weight:bold; padding-bottom: 3px">NOM :  <a style="color:gray; font-weight:normal;"> {{nom}}</a></p>
    <p style="font-size:14px; color:black; font-weight:bold; padding-bottom: 3px">PRENOM :  <a style="color:gray; font-weight:normal;"> {{prenoms}}</a></p>
    <p style="font-size:14px; color:black; font-weight:bold; padding-bottom: 3px">EMAIL :  <a style="color:gray; font-weight:normal;"> {{email}}</a></p>
    <p style="font-size:14px; color:black; font-weight:bold; padding-bottom: 3px">TELEPHONE :  <a style="color:gray; font-weight:normal;"> {{telephone}}</a></p>
    <p style="font-size:14px; color:black; font-weight:bold; padding-bottom: 3px">LOGIN :  <a style="color:gray; font-weight:normal;">{{login}}</a></p>
    <p style="font-size:14px; color:black; font-weight:bold; padding-bottom: 3px">DATE ENREGISTREMENT :  <a style="color:gray; font-weight:normal;"> {{date | date:'dd MM yyyy à HH:mm'}}</a></p>
  </ion-card>

<div padding *ngIf="distributeur" style="padding-top:0">
  <ion-item style="background-color:lightgray; border-radius:15px ;margin-top:10px">
    <ion-input style="color:red; text-align: center" placeholder="Nouveau mot de passe" [(ngModel)]="data.passwordNew"></ion-input>
  </ion-item>

  <ion-item style="background-color:lightgray; border-radius:15px ; margin-top:10px">
      <ion-input style="color:red; text-align: center" placeholder="confirmer mot de passe" ></ion-input>
    </ion-item>

    <ion-item style="text-align: center; background-color:lightgray; border-radius:15px ; margin-top:10px">
        <ion-input style="color:red;text-align: center" placeholder="nouvel email" [(ngModel)]="data.emailNew"></ion-input>
      </ion-item>

      <ion-item style="background-color:lightgray; border-radius:15px; margin-top:10px">
          <ion-input style="color:red;text-align: center" placeholder="Nouveau numéro" [(ngModel)]="data.contactdNew"></ion-input>
        </ion-item>

        <button ion-button block (click)='updateUser()' style="background-color: rgb(255, 123, 0); color: white; height: 40px; width: 80%; margin-top: 15px; margin-left: 10%" >
          METTRE A JOUR
        </button>

      </div>


</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>