<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback">
      <img class="back" src="assets/imgs/precedent.png" (click)="back()">
     </div>
     <div class="center">
        <img  center src="assets/imgs/point-de-vente.png" style="width:100px ;height:85px">
     </div>
     <h2 class="title">POINT DE VENTE</h2>
     <div class="cardinfo">
        <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
      </div>
    </ion-card>
    <hr class="zig-zag-line">
    <h6 text-center style="color:darkslategrey; font-weight:bold">PASSER VOTRE COMMANDE</h6>
  </ion-header>


<ion-content style="padding-top: 0 !important" padding>
    <ion-card style="width: 100%">
        <ion-item style="background-color: rgb(255, 250, 200);">
            <p style="margin-top:0; font-size: 15px; color: grey">Graine de mode</p>
            <h6 text-wrap style="color:black; font-size: 14px; font-weight: bolder">Avenue 21, Pharmacie notre dame</h6>
            <p style="color:black; font-size: 15px; font-weight: bolder">+225 57 65 55 66</p>
            <img item-end class="img" src="assets/imgs/point-de-vente.png"> 
        </ion-item>
    </ion-card>
    <h6 text-center style="color:darkslategrey; font-weight:bold">ET FAITES-VOUS LIVRER!</h6>

<ion-grid>
  <ion-item style="background-color:lightgray; border-radius:15px"  no-lines>
  <ion-input type="text" placeholder="Nom" [(ngModel)]="data.clientOrder.orderSurname"></ion-input>
</ion-item>

<ion-item style="background-color:lightgray; border-radius:15px; margin-top:15px" no-lines >
  <ion-input type="text" placeholder="Prenom(s)" [(ngModel)]="data.clientOrder.orderName" no-lines></ion-input>
</ion-item>

<ion-item style="background-color:lightgray; border-radius:15px; margin-top:15px" no-lines >
  <ion-label>225</ion-label>
    <ion-input type="text" placeholder="Téléphone" [(ngModel)]="data.clientOrder.orderNumber" no-lines></ion-input>
  </ion-item>

</ion-grid>
<!-- <ion-grid style="margin-top:5px;text-align: center">
< <ion-row> -->
    <!-- <ion-col> -->
      <!-- <ion-item style=" background-color:gray;  border-radius:15px ">
     <ion-label >225</ion-label>
    </ion-item> -->
    <!-- </ion-col>
     <ion-col>  -->
       <!-- <ion-item  >
           <ion-label  item-left style="background-color: gray; height:40px; width:50px; border-radius:10px"  >225</ion-label>  
        <ion-input type="number" placeholder="Telephone" style="background-color: gray ; height:40px; width:50px;border-radius:10px" item-right  ></ion-input>
    </ion-item> -->
  <!-- </ion-col>
  </ion-row>  -->
<!-- </ion-grid>  -->

<ion-item no-lines style="padding: 15px; margin-top:15px; border: 2px solid rgb(173, 216, 230); color: rgb(173, 216, 230)">
    <ion-checkbox color="saphir" [(ngModel)]="data.clientOrder.forfaitList[0].selected"></ion-checkbox>
    <ion-label>Carte Saphir <a style="color:gray; font-size: 11px">(10 000 CFA)</a></ion-label>
    <ion-select *ngIf="data.clientOrder.forfaitList[0].selected" [(ngModel)]="data.clientOrder.forfaitList[0].quantity">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
        <ion-option value="9">9</ion-option>
        <ion-option value="10">10</ion-option>
      </ion-select>
  </ion-item>
  
  <ion-item no-lines style="padding: 15px; margin-top:15px; border: 2px solid rgb(179, 70, 70); color: rgb(179, 70, 70)">
      <ion-checkbox color="rubis" [(ngModel)]="data.clientOrder.forfaitList[1].selected"></ion-checkbox>
      <ion-label>Carte Rubis <a style="color:gray; font-size: 11px">(25 000 CFA)</a></ion-label>
      <ion-select *ngIf="data.clientOrder.forfaitList[1].selected" [(ngModel)]="data.clientOrder.forfaitList[1].quantity">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
        </ion-select>
    </ion-item>

    <ion-item no-lines style="padding: 15px; margin-top:15px; border: 2px solid rgb(144, 238, 144) ; color: rgb(144, 238, 144)">
        <ion-checkbox color="emeraude" [(ngModel)]="data.clientOrder.forfaitList[2].selected"></ion-checkbox>
        <ion-label>Carte Émeraude <a style="color:gray; font-size: 11px">(50 000 CFA)</a></ion-label>
        <ion-select *ngIf="data.clientOrder.forfaitList[2].selected" [(ngModel)]="data.clientOrder.forfaitList[2].quantity">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
            <ion-option value="8">8</ion-option>
            <ion-option value="9">9</ion-option>
            <ion-option value="10">10</ion-option>
          </ion-select>
      </ion-item>

      <ion-item no-lines style="padding: 15px;  margin-top:15px; border: 2px solid lightgray; color: lightgray">
          <ion-checkbox color="diamant" [(ngModel)]="data.clientOrder.forfaitList[3].selected"></ion-checkbox>
          <ion-label>Carte Diamant <a style="color:gray; font-size: 11px">(100 000 CFA)</a></ion-label>
          <ion-select *ngIf="data.clientOrder.forfaitList[3].selected" [(ngModel)]="data.clientOrder.forfaitList[3].quantity">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
              <ion-option value="4">4</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="6">6</ion-option>
              <ion-option value="7">7</ion-option>
              <ion-option value="8">8</ion-option>
              <ion-option value="9">9</ion-option>
              <ion-option value="10">10</ion-option>
            </ion-select>
        </ion-item>
<hr class="colorline">

<ion-grid style="text-align: center; width:200px; height: 80px; margin-top:20px">
<button ion-button type="submit" (click)="order()"  style="background-color: orange; border-radius:5px" medium>PASSER COMMANDE</button>
</ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>
