// http://ionicframework.com/docs/theming/

@import '../theme/fonts';

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.zig-zag-line {
        border: none;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, rgb(241, 129, 24) 17%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(86, 86, 233) 33%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(221, 0, 0) 50%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(1, 175, 1) 66%, transparent 20%) ,
        linear-gradient(90deg, brown 84%, transparent 20%),
        linear-gradient(90deg, rgb(255, 0, 200) 100%, transparent 20%);
        // background-size: 30px 30px;
        // background-color: #1A85FD;
    }
    
::-webkit-scrollbar,
        *::-webkit-scrollbar {
        display: none;
        }