<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback">
      <img class="back" src="assets/imgs/precedent.png" (click)="back()">
     </div>
     <div class="center">
        <img  center src="assets/imgs/transactionslight.png" style="width:80px ;height:80px">
     </div>
     <h2 class="title">TOUTES LES TRANSACTIONS</h2>
     <div class="cardinfo">
        <ion-icon name="information-circle-outline"></ion-icon>
     </div>
    </ion-card>
    <hr class="zig-zag-line">

    <div>
        <ion-segment [(ngModel)]="transaction" color="orange">
          <ion-segment-button value="week">
            SEMAINE
          </ion-segment-button>
          <ion-segment-button value="month">
            MOIS
          </ion-segment-button>
        </ion-segment>
      </div>

  </ion-header>

<ion-content >
      <div [ngSwitch]="transaction">
          <div *ngSwitchCase="'week'">
              <h6 *ngIf="!reponseData" style="color:orange; margin-top:35%; text-align:center;">AUCUNE TRANSACTION CETTE SEMAINE</h6>

              <ion-card style="background-color: lightgray"  *ngFor="let r of reponseData;">
                <ion-item style="background-color: rgb(248, 248, 248)">
                    <img item-start class="img" src="assets/imgs/transactions1.png">
                    <h6 class="name">{{r.montantTransaction}} FCFA</h6>
                    <!-- <p>{{r.commercant.nomBoutique}}</p> -->
                    <ion-note item-end style="font-size:10px">{{r.dateTransaction}}</ion-note>
                  </ion-item>
            </ion-card>

          </div>
        
          <div *ngSwitchCase="'month'">
              <h6 *ngIf="!reponseData2" style="color:orange; margin-top:35%; text-align:center;">AUCUNE TRANSACTION</h6>

              <ion-card style="background-color: lightgray"  *ngFor="let r of reponseData2;">
                <ion-item style="background-color: rgb(248, 248, 248)">
                    <img item-start class="img" src="assets/imgs/transactions1.png">
                    <h6 class="name">{{r.montantTransaction}} FCFA</h6>
                    <!-- <p>{{r.commercant.nomBoutique}}</p> -->
                    <ion-note item-end style="font-size:10px">{{r.dateTransaction}}</ion-note>
                  </ion-item>
            </ion-card>
          </div>
        </div>

  
</ion-content>

<ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>