<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/ACHATS.png" style="width:80px ;height:80px">
   </div>
   <h2 class="title">ACHATS</h2>
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
    </div>
  </ion-card>

  <hr class="zig-zag-line">

  <ion-card  style="background-color: rgba(144, 238, 144, 0.603); text-align: center; margin-right: 50px">
    <img class="img" src="assets/imgs/BarCode.png">
    <p text-center style="font-size:12px">CARTE N°{{cardno}}</p>
    <h2 text-center style="font-weight:bolder; font-size:15px">SOLDE : {{round(solde)}} CFA</h2>
        </ion-card>
</ion-header>


<ion-content>

  <ion-card style="background-color: lightgray"  *ngFor="let r of reponseData;">
    <ion-item style="background-color: rgb(248, 248, 248)">
        <img item-start class="img2" src="assets/imgs/carte.png">
        <h6 class="name">{{round(r.montantTransaction)}} FCFA</h6>
        <p>{{r.commercant.nomBoutique}}</p>
        <ion-note item-end style="font-size:10px">{{convertTodate(r.dateTransaction) | date:'dd-MM-yyyy, HH:mm'}}</ion-note>
      </ion-item>
</ion-card>

</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>