<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback" (click)="showConfirm()">
    <img class="back" src="assets/imgs/cadenat.png">
   </div>
   <!-- <div class="center">
      <img  center src="assets/imgs/info1.png" style="width:100px ;height:100px">
   </div> -->
   <h2 class="title">BIENVENUE, KDOLIS</h2>
   <!-- <p class="title-date"> DERNIERE CONNEXION <br> lun, 26 juin 2019 à 22:10:45</p> -->
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png">
    </div>
  </ion-card>
  <hr class="zig-zag-line">
  <h2 style="background-color:rgb(205, 0, 0); color: white; text-align: center; font-size: 18px; font-weight: bolder; padding: 4px">TRANSACTION JOURNALIERE <br> 0 FCFA</h2>

</ion-header>

<ion-content padding>

    <ion-grid style="text-align: center">    
      <ion-row>
          <ion-col (click)="scan()">
              <img src="assets/imgs/Scanner.png" style="display:inline-block ;width:90px ;height:90px">
              <h5 style="color:gray; font-size: 15px; font-weight: bold">SCANNER</h5>
              <!-- <button ion-button  medium (click)="com()">1</button> -->
          </ion-col>
           <ion-col (click)="dailyT()">
              <img src="assets/imgs/transactionslight.png" style="display:inline-block ;width:90px ;height:90px" >
              <h5 style="color:green; font-size: 15px; font-weight: bold">TRANSACTION JOURNALIERE</h5>
            </ion-col>
        </ion-row>

        <ion-item   (click)="allT()" style="text-align: center" no-lines>
        <img src="assets/imgs/alltransactions.png" style="display:inline-block ;width:90px ;height:90px">
        <h2 style="color:rgb(200, 0, 0) ; font-weight: bold; font-size: 15px">TOUTES LES <br> TRANSACTIONS</h2>
      </ion-item>
    
    </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>