page-commerce-list {

    .ion-cardheader {
        position: relative;
        text-align: start;
        margin: 0px !important;
        min-width: 100%;
        height: 70%;
        box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
      }
    
      .imgCard {
        display: block;
        width: 100%;
        height: 100%;
    }
      .cardback {
        position: absolute;
        top: 25%;
        font-size: 2.0em;
        width: 100%;
        font-weight: normal;
        color: #fff;
        // padding-left: 10px;
        margin-left: 10px;
      }

      .cardsearch {
        position: absolute;
        top: 30%;
        right: 5%;
        font-size: 60px;
        font-weight: normal;
        color: rgb(167, 39, 39);
        // padding-left: 10px;
      }

      .back{
        display: inline-block;
        height: 40px;
        width: 40px;
        // font-weight: lighter;
        // color :rgba(241, 36, 104, 0.5);
      }

      .center{
        position: absolute;
        top: 25%;
        left: 37%;
        // font-size: 2.0em;
        // font-weight: normal;
        // color: rgb(167, 39, 39);
      }
      
      .title{
        position: absolute;
        bottom: 0%;
        left: 33%;
        color: brown;
        // font-size: 2.0em;
        font-weight: bold;
        // color: rgb(167, 39, 39);
      }

      .zig-zag-line {
        border: none;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, rgb(241, 129, 24) 17%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(86, 86, 233) 33%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(221, 0, 0) 50%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(1, 175, 1) 66%, transparent 20%) ,
        linear-gradient(90deg, brown 84%, transparent 20%),
        linear-gradient(90deg, rgb(255, 0, 200) 100%, transparent 20%);
        // background-size: 30px 30px;
        // background-color: #1A85FD;
    }

    .back-image{
      background-image: url('../../assets/imgs/footer.png');
      width:100%;
      height:100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
  }
  
    .img{
        height: 50px;
        width: 50px;
        // border-radius: 50px;
        // border: 2px solid rgb(140, 157, 250);
    }
    .name{
        font-weight: bolder;
        // margin-left: 30px;
        font-size: 18px;
    }

    .sub{
        font-weight: bold;
        max-lines: 2
        // margin-left: 30px;
    }


    .ion-item{
        // padding-left:  30px;
        // padding-left: 30px;
        background: rgba(228, 228, 228, 0.247);
        margin-top: 10px;
        margin-right: 10px;
        box-shadow: 10 10 10 10 rgb(0, 0, 0) !important;
    }
}
