<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback">
      <img class="back" src="assets/imgs/precedent.png" (click)="back()">
     </div>
     <div class="center">
        <img  center src="assets/imgs/COMMERCANTROUGE.png" style="width:85px ;height:85px">
     </div>
     <h2 class="title">COMMERCANTS</h2>

     <!-- <div class="cardsearch">
        <ion-icon name="search" *ngIf="showIcon" (click)="isSearchbarOpened=true ; showIcon=false"></ion-icon>
     </div> -->
     
    </ion-card>
    <hr class="zig-zag-line">

    <!-- <ion-buttons end>
    <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"> 
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons> -->
  </ion-header>

<ion-content (ionScroll)="scrollHandler($event)">
    <h4 text-center style="color:orange; font-weight:bold">{{title}}</h4>

    <ion-card *ngFor="let r of filterData; let i = index" (click)="push(i)">
              <ion-item style="background-color: rgb(255, 244, 142)" no-lines>       
          <h6 class="name">{{r.nomBoutique}}</h6>
          <p text-wrap class="sub">{{r.adresseBoutique}}</p>
          <p class="sub">{{r.telephoneBoutique}}</p>
          <img item-end class="img" src="assets/imgs/iconecommer.png">
        </ion-item>
      </ion-card>


      <ion-fab right bottom *ngIf="showIcon">
        <button ion-fab color="light" (click)="isSearchbarOpened=true ; showIcon=false"><ion-icon name="search"></ion-icon></button>
      </ion-fab>

</ion-content>

<ion-footer no-border> 
    <ion-searchbar *ngIf="isSearchbarOpened"
     showCancelButton="true" (search)="onSearch($event)"
    (ionCancel)="onCancel($event)"
    [(ngModel)]="searchTerm"
    (ionInput)="getItems($event)" placeholder="Recherche" mode="md">
  </ion-searchbar>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>