<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" style="height:55px; width:55px" src="assets/imgs/cadenat.png" (click)="showConfirm()">
   </div>
   <!-- <div class="center">
      <img  center src="assets/imgs/info1.png" style="width:100px ;height:100px">
   </div> -->
   <h2 class="title">BIENVENUE, <br> {{nom}} {{prenoms}}</h2>
   <p class="title-date"> DERNIERE CONNEXION <br> {{date | date:'EEE , dd MMM yyyy, HH:mm:ss'}} </p>
   <div class="cardinfo">
        <img style="height:30px; width:30px" src="assets/imgs/info.png">
   </div>
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content >
    <ion-grid style="text-align: center">
        
      <ion-row>
          <ion-col>
              <img src="assets/imgs/Scanner.png" style="display:inline-block ;width:75px ;height:75px" (click)="scan()">
              <h6 style="color:gray; font-weight: bold; font-size: 15px">SCANNER</h6>
              <!-- <button ion-button  medium (click)="com()">1</button> -->
          </ion-col>
           <ion-col>
              <img src="assets/imgs/ACHATS.png" style="display:inline-block ;width:75px ;height:75px" (click)="achats()">
              <h6 style="color:green; font-weight: bold; font-size: 15px">ACHATS</h6>
            </ion-col>
        </ion-row>

        <ion-item style="text-align: center" no-lines>
        <img src="assets/imgs/5.png" style="display:inline-block ;width:75px ;height:75px" (click)="corb()">
        <h2 style="color:rgb(85, 52, 52) ; font-weight: bold; font-size: 15px">CORBEILLE</h2>
      </ion-item>


        <ion-row style="margin-top:20px">
        <ion-col>
            <img src="assets/imgs/porte2.png" style="display:inline-block;width:75px; height:75px" (click)="port()">
            <!-- <button ion-button  medium (click)="scan()">3</button> -->
            <h6 style="color:orange; font-weight: bold; font-size: 15px">PORTEFEUILLE</h6>
          </ion-col>
    
        <ion-col>
            <img src="assets/imgs/profilpink.png" style="display:inline-block ;width:70px ;height:70px" (click)="info()">
            <!-- <button ion-button  medium (click)="connect()">4</button> -->
            <h6 style="color:rgb(189, 71, 110); font-weight: bold; font-size: 15px">INFOS</h6>
          </ion-col>
        </ion-row>
    
    </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>