<ion-header>
    <ion-card class="ion-cardheader">
      <img class="imgCard" src="assets/imgs/fondHeader.png"/>
      <div class="cardback">
      <img class="back" src="assets/imgs/precedent.png" (click)="back()">
     </div>
     <div class="center">
        <img  center src="assets/imgs/vendues.png" style="width:85px ;height:85px">
     </div>
     <h2 class="title">CARTE VENDUES</h2>
     <!-- <div class="cardinfo">
        <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
      </div> -->
    </ion-card>
    <hr class="zig-zag-line">
  </ion-header>
  
  <ion-content >

    <ion-card no-padding *ngFor="let r of reponseData;">
      <ion-item [ngClass]="r.forfait == 'Saphir' ? 'saphir' : 
                        r.forfait == 'Diamant' ? 'diamant' : 
                        r.forfait == 'Emeraude' ? 'emeraude' : 
                        r.forfait == 'Rubis' ? 'rubis' : 'emeraude'">
          <img item-start class="img" src="assets/imgs/kdolis_long.png">
          <p class="sub" style="font-weight: 400;">NUMERO : {{r.numCarte}}</p>
          <h6 class="sub" style="color:black; font-weight: bolder">MONTANT : {{r.forfaitMontant}}</h6>
          <p class="sub">Forfait: {{r.forfait}}</p>
          <ion-note item-end style="color:gray; font-size:10px; align-self: flex-end">vendu: {{convertTodate(r.dateActivated) | date:'dd-MM-yyyy'}}</ion-note>              
        </ion-item>
  </ion-card>
  
  <h6 *ngIf="!reponseData" style="color:orange; margin-top:35%; text-align:center;">AUCUNE CARTE</h6>
  
  </ion-content>
  
  <!-- <ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer> -->