<ion-header>
  <ion-card class="ion-cardheader">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img  center src="assets/imgs/5.png" style="width:85px ;height:85px">
   </div>
   <h2 class="title">CORBEILLE</h2>
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
    </div>
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content >
  <h6 text-center style="color:brown; font-weight:bold">CARTES SUPPRIMEES</h6>

  <ion-card *ngFor="let r of reponseData;">
    <ion-item style="background-color: rgba(179, 70, 70, 0.596)">
        <img item-start class="img" src="assets/imgs/BarCode.png">
        <p class="sub" style="margin-top:0">NUMERO : {{r.card.numCarte}}</p>
        <h6 class="sub" style="color:rgb(168, 0, 0)">SOLDE : {{r.card.solde}} FCFA</h6>
        <p class="sub">Forfait: {{r.card.forfait}}</p>
        <ion-icon style="color:orange; font-size:18px; align-self: flex-start" name="link" item-end></ion-icon>
            </ion-item>
</ion-card>

<h6 *ngIf="!reponseData" style="color:orange; margin-top:35%; text-align:center;">AUCUNE CARTE</h6>

</ion-content>

<ion-footer no-border>
  <ion-item class="back-image" style="height:50px" no-lines>
  </ion-item>
</ion-footer>