<ion-header>
  <ion-card class="cardion">
    <img class="imgCard" src="assets/imgs/fondHeader.png"/>
    <div class="cardback">
    <img class="back" src="assets/imgs/precedent.png" (click)="back()">
   </div>
   <div class="center">
      <img src="assets/imgs/COMMERCANTROUGE.png" style="width:85px ;height:85px">
   </div>
   <div class="cardinfo">
      <img style="height:30px; width:30px" src="assets/imgs/info.png" (click)="back()">
   </div>
  </ion-card>
  <hr class="zig-zag-line">
</ion-header>

<ion-content>
  <h6 text-center style="color:darkslategrey; font-weight:bold">SELECTIONNEZ UN SECTEUR</h6>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let r of reponseData; let i = index" col-6>

      <ion-card no-border (click)="push(i)" style="height: 60px; padding-top: 10px" [ngClass]="r.id == '3' ? 'cardbuttonEM' : 
                                                                                                                  r.id == '4' ? 'cardbuttonMA' : 
                                                                                                                  r.id == '6' ? 'cardbuttonBB' : 
                                                                                                                  r.id == '7' ? 'cardbuttonHR' : 
                                                                                                                  r.id == '8' ? 'cardbuttonAD' : 
                                                                                                                  r.id == '9' ? 'cardbuttonSL' : 'cardbuttonEM'">
      <h5 [ngClass]="r.id == '3' ? 'titleEM' : 
      r.id == '4' ? 'titleMA' : 
      r.id == '6' ? 'titleBB' : 
      r.id == '7' ? 'titleHR' : 
      r.id == '8' ? 'titleAD' : 
      r.id == '9' ? 'titleSL' : 'title'">{{r.label}}</h5>
    </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
<ion-footer no-border>
    <ion-item class="back-image" style="height:50px" no-lines>
    </ion-item>
  </ion-footer>