page-commerce {

    .cardion {
        position: relative;
        text-align: start;
        margin: 0px !important;
        min-width: 100%;
        height: 70%;
        box-shadow: 0 0 0 0 rgb(255, 255, 255) !important;
      }
    
      .cardbutton {
        width: 42% !important;
        height: 60px;
        padding-top: 10px;
        // border-radius: 8px !important;
        border: 3px solid rgb(241, 36, 105);
        display: inline-block;
        position: relative;
    }

    .cardbuttonAD {
      // width: 42% !important;
      // height: 60px;
      // padding-top: 10px;
      // border-radius: 8px !important;
      border: 3px solid rgb(72, 36, 36);
      // display: inline-block;
      // position: relative;
  }

  .titleAD{
    top: 25%;
    text-align: center;
    font-weight: bold;
    color: rgb(72, 36, 36);
    text-transform: capitalize
      }

  .cardbuttonSL{
    // width: 42% !important;
    // height: 60px;
    // padding-top: 10px;
    // border-radius: 8px !important;
    border: 3px solid rgb(200, 0, 0);
    // display: inline-block;
    // position: relative;
}

.titleSL{
  top: 25%;
  text-align: center;
  font-weight: bold;
  color: rgb(200, 0, 0);
  text-transform: capitalize
    }

  .cardbuttonHR {
    // width: 42% !important;
    // height: 60px;
    // padding-top: 10px;
    // border-radius: 8px !important;
    border: 3px solid orange;
    // display: inline-block;
    // position: relative;
}

.titleHR{
  top: 25%;
  text-align: center;
  font-weight: bold;
  color: orange;
  text-transform: capitalize
    }
    .cardbuttonEM {
      // width: 42% !important;
      // height: 60px;
      // padding-top: 10px;
      // border-radius: 8px !important;
      border: 3px solid darkblue;
      // display: inline-block;
      // position: relative;
  }

  .titleEM{
    top: 25%;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    text-transform: capitalize
      }

  .cardbuttonMA {
    // width: 42% !important;
    // height: 60px;
    // padding-top: 10px;
    // border-radius: 8px !important;
    border: 3px solid rgb(169, 29, 75);
    // display: inline-block;
    // position: relative;
}

.titleMA{
  top: 25%;
  text-align: center;
  font-weight: bold;
  color: rgb(169, 29, 75);
  text-transform: capitalize
    }

.cardbuttonBB {
  // width: 42% !important;
  // height: 60px;
  // padding-top: 10px;
  // border-radius: 8px !important;
  border: 3px solid green;
  // display: inline-block;
  // position: relative;
}

.titleBB{
  top: 25%;
  text-align: center;
  font-weight: bold;
  color: green;
  text-transform: capitalize
    }
      .imgCard {
        display: block;
        width: 100%;
        height: 100%;
    }
      .cardback {
        position: absolute;
        top: 25%;
        font-size: 2.0em;
        width: 100%;
        font-weight: normal;
        color: #fff;
        // padding-left: 10px;
        margin-left: 10px;
      }

      .cardinfo {
        position: absolute;
        margin-top: 25%;
        right: 5%;
        font-size: 2.0em;
        font-weight: normal;
        color: rgb(167, 39, 39);
        // padding-left: 10px;
      }

      .back{
        display: inline-block;
        height: 60px;
        width: 60px;
        // font-weight: lighter;
        // color :rgba(241, 36, 104, 0.5);
      }

      .center{
        position: absolute;
        top: 30%;
        right: 40%;
        // font-size: 2.0em;
        // font-weight: normal;
        // color: rgb(167, 39, 39);
      }
      
      .zig-zag-line {
        border: none;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, rgb(241, 129, 24) 17%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(86, 86, 233) 33%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(221, 0, 0) 50%, transparent 10%) 0px 0,
        linear-gradient(90deg, rgb(1, 175, 1) 66%, transparent 20%) ,
        linear-gradient(90deg, brown 84%, transparent 20%),
        linear-gradient(90deg, rgb(255, 0, 200) 100%, transparent 20%);
        // background-size: 30px 30px;
        // background-color: #1A85FD;
    }

    .back-image{
      background-image: url('../../assets/imgs/footer.png');
      width:100%;
      height:100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
  }
}
